# udev rule to allow user access to m8 mouse
# reload udev rules and reconnect device after adding this
SUBSYSTEMS=="usb", ATTR{idVendor}=="1bcf", ATTR{idProduct}=="08a0", TAG+="uaccess"
